.blog {
  padding: 60px 0 100px;
  &-section-title {
    margin-bottom: 45px;
  }
  &-post {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 30px;
    &-thumb {
      width: 40%;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        transition: 0.5s $site-ease;
      }
    }
    &-content {
      width: 55%;
      margin-left: auto;
    }
    &-title {
      a {
        font-size: 26px;
        font-weight: 700;
        color: $text-color-dark;
        text-decoration: none;
        margin-bottom: 8px;
        display: block;
        transition: all 0.3s ease-in-out;
        font-family: $primary-font;
      }
    }
    &-tag {
      a {
        background-color: $black;
        padding: 4px 20px;
        display: inline-block;
        border-radius: 50px;
        text-decoration: none;
        font-size: 12px;
        color: $white;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
    &-meta {
      ul {
        padding: 0;
        margin: 0 0 18px;
        display: flex;
        list-style: none;
        li {
          font-size: 13px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          a {
            color: $black;
          }
        }
      }
    }
    &-action {
      color: $text-color-dark;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      text-decoration: none;
      i {
        padding-left: 10px;
        display: inline-block;
        line-height: 20px;
        transition: 0.3s $site-ease;
      }
      &:hover {
        text-decoration: none;
        color: $black;
        i {
          padding-left: 15px;
        }
      }
    }
    &-widget {
      &-title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        h2 {
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase;
          width: 90%;
          margin-bottom: 0;
        }
      }
      .widget-slider {
        .slider-item {
          border-bottom: 1px solid $text-color;
          .slider-thumb {
            margin-bottom: 20px;
            img {
              max-width: 100%;
            }
          }
          .slider-content {
            padding-bottom: 50px;
            &-title {
              a {
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                color: $text-color-dark;
                margin-bottom: 10px;
                display: block;
              }
            }
            &-meta {
              ul {
                padding: 0;
                margin: 0;
                display: flex;
                list-style: none;
                li {
                  font-size: 13px;
                  &:not(:last-child) {
                    margin-right: 10px;
                  }
                  a {
                    color: $black;
                  }
                }
              }
            }
          }
          &:hover {
            a {
              color: $secondary-color;
            }
          }
        }
        .slick-arrow {
          transition: 0.3s ease;
        }
        .slick-prev {
          left: 280px;
          z-index: 1;
          @include desktop-xl {
            left: 280px;
          }
          @include desktop {
            left: 50%;
            bottom: 0;
            transform: translate(-60px, 100px);
          }
        }
        .slick-next {
          right: -50px;
          z-index: 1;
          @include desktop-xl {
            right: 0;
          }
          @include desktop {
            right: 50%;
            bottom: 0;
            transform: translate(60px, 100px);
          }
        }
        .slick-next:before {
          font-family: unset;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-width: 1px 1px 0 0;
          border-color: none;
          border-style: solid;
          top: 50%;
          left: 50%;
          transform: translate(-75%, -50%) rotate(45deg);
        }
        .slick-prev:before {
          font-family: unset;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-width: 1px 1px 0 0;
          border-color: $primary-color;
          border-style: solid;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-135deg);
        }

        .slick-prev,
        .slick-next {
          width: 50px;
          height: 50px;
          opacity: 1;
          border: none;
          top: -60px;
        }

        .slick-prev:before {
        }
        .slick-next:before {
          color: $primary-color;
        }
      }

      .latest-widget-title {
        h2 {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .latest-widget {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        &-thum {
          position: relative;
          width: 30%;
          img {
            max-width: 100%;
          }
          .icon {
            a {
              position: absolute;
              background: $black;
              border-radius: 50px;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              top: -15px;
              left: -15px;
            }
          }
        }
        &-content {
          width: 65%;
          .content-title {
            a {
              font-size: 17px;
              font-weight: 700;
              color: $text-color-dark;
              margin-bottom: 10px;
              display: block;
              text-decoration: none;
            }
          }
          .content-meta {
            ul {
              padding: 0;
              margin: 0;
              display: flex;
              list-style: none;
              li {
                font-size: 10px;
                &:not(:last-child) {
                  margin-right: 10px;
                }
                a {
                  color: $black;
                }
              }
            }
          }
        }
        &:hover {
          a {
            color: $secondary-color;
          }
        }
      }
    }
    &-pagination {
      .nav-bg {
        ul.pagination {
          padding: 0;
          margin: 0;
          li.page-item {
            a.page-link {
              width: 50px;
              height: 50px;
              line-height: 50px;
              padding: 0;
              text-align: center;
              border-radius: 50%;
              border: 1px solid $white;
              color: $text-color;
              margin-right: 10px;
              background: none;
              transition: all 0.3s ease-in-out;
              display: block;
              &:hover {
                border: 1px solid $border-color;
              }
            }
            a.active {
              border: 1px solid $border-color;
            }
          }
        }
      }
    }
    &:hover {
      .blog-post-thumb {
        img {
          transform: scale(0.97);
        }
      }
    }
  }
  // start-blog-details

  &-single {
    padding: 100px 0 50px;
    .share-now {
      position: sticky;
      top: 4%;
      a.scrol {
        position: relative;
        color: $black;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 90px;
        display: inline-block;
        &::before {
          position: absolute;
          content: "";
          width: 70px;
          height: 1px;
          background: $black;
          transform: rotate(90deg);
          bottom: -40px;
          left: -10px;
        }
      }
      .sociel-icon {
        ul {
          padding: 0;
          li {
            list-style: none;
            display: block;
            a {
              font-size: 20px;
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $border-color;
              border-radius: 50px;
              text-decoration: none;
              color: $text-color-dark;
              margin-bottom: 10px;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: $secondary-color;
                color: $white;
              }
            }
          }
        }
      }
    }
    .single-blog {
      position: relative;
      .tag {
        background-color: $black;
        padding: 4px 20px;
        display: inline-block;
        border-radius: 50px;
        text-decoration: none;
        font-size: 12px;
        color: $white;
        font-weight: 600;
        margin: 0 0 20px 50px;
      }
      .title {
        font-size: 40px;
        font-weight: 700;
        color: $text-color-dark;
        text-decoration: none;
        padding: 0 150px 10px 50px;
        display: block;
      }

      .meta {
        margin: 0;
        padding: 0 0 50px 50px;
        display: flex;
        list-style: none;
        li {
          font-size: 10px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          a {
            color: $black;
          }
        }
      }
      img {
        max-width: 100%;
        box-shadow: 10px 25px 40px 0px rgba(18, 21, 26, 0.07);
        margin-bottom: 50px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        padding: 0 70px 100px 50px;
      }
      h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 25px;
        padding: 0 70px;
      }
      blockquote {
        background-color: #f6f6f6;
        padding: 45px 100px 40px 50px;
        margin: 0 70px 70px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 3px;
          background-color: $black;
          top: 50%;
          left: -3%;
          transform: translate(0%, -50%) rotate(90deg);
        }
        p {
          color: $text-color-dark;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 0;
          padding: 0;
          letter-spacing: 1px;
        }
      }
      .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 70px;
        margin-bottom: 50px;
        img {
          max-width: 100%;
          margin: 0;
          &:nth-child(1) {
            padding-right: 50px;
          }
        }
      }
      &-two,
      &-three {
        margin-bottom: 50px;
        padding: 20px 30px 30px;
        width: 50%;
        float: left;
        text-align: right;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;

        .tag {
          background-color: $black;
          padding: 4px 20px;
          display: inline-block;
          border-radius: 50px;
          text-decoration: none;
          font-size: 12px;
          color: $white;
          font-weight: 600;
          margin-bottom: 20px;
          margin-left: 0;
        }

        .title {
          font-size: 20px;
          font-weight: 700;
          color: $text-color-dark;
          text-decoration: none;
          margin-bottom: 10px;
          display: block;
          padding: 0;
        }
        .meta {
          margin: 0;
          padding: 0;
          display: flex;
          list-style: none;
          float: right;
          li {
            font-size: 10px;
            &:not(:last-child) {
              margin-right: 10px;
            }
            a {
              color: $black;
            }
          }
        }
      }
      &-three {
        text-align: left;
        border-right: 1px solid $border-color;

        .tag {
          background-color: $text-color;
        }
        .meta {
          float: left;
        }
      }
    }
  }
}
