.case-studies {
  margin-bottom: 110px;
  overflow: hidden;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-thum {
      &:not(:last-child) {
        padding-right: 2px;
      }
      img {
        max-width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #080808b3;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      .case-studies-item {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
