<section class="case-studies">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="case-studies-item">
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-1.png" alt="image">
          </div>
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-2.png" alt="image">
          </div>
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-3.png" alt="image">
          </div>
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-4.png" alt="image">
          </div>
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-5.png" alt="image">
          </div>
          <div class="case-studies-item-thum">
            <img src="images/blog/case-studies-6.png" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>