<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 order-2 order-lg-1">
        <div class="share-now">
          <a href="#" class="scrol">Share</a>
          <div class="sociel-icon">
            <ul>
              <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
              <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
              <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-10 order-1 order-lg-2">
        <article class="single-blog">
          <a href="#" class="tag">Travel</a>
          <p class="title">Five Things You Need to Know
            to Start Your Day</p>
          <ul class="meta">
            <li>By <a href="about.html">Mary Astor</a></li>
            <li>
              <i class="fa fa-clock-o"></i>
              October 19, 2020 - 2 min
            </li>
          </ul>
          <img src="images/blog/blog-single.png" alt="banner">

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam et justo duo dolores ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            <br>
            <br>

            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet. <br> <br>

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            <br>
            <br>

            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <h3>Make better business</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam et justo duo dolores ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            <br> <br>

            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <blockquote>
            <p>"You’ve got to get up every morning with determination if you’re going to go to bed with satisfaction."
            </p>
          </blockquote>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam et justo duo dolores ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            <br> <br>
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <div class="single-blog-banner">
            <div class="banner"> <img src="images/blog/single-blog.png" alt="banner">
            </div>
            <div class="banner"> <img src="images/blog/single-blog-2.png" alt="banner">
            </div>
          </div>
          <h3>The Dreamy Factors</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam et justo duo dolores ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            <br> <br>
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </article>
        <div class="blog-single-presentation">
          <ul>
            <li> <a href="#" class="tag">PREVIOUS</a>
              <a href="#" class="title">I Moved Across the Country
                and Never Looked Back</a>
              <i class="fa fa-clock-o"></i>
              October 19, 2020 - 2 min
            </li>
            <li> <a href="#" class="tag">Next</a><a href="#" class="title">Every Next Level of Your Life
                Will Demand a Different</a><i class="fa fa-clock-o"></i>
              October 19, 2020 - 2 min</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>